@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
/* Primary: ce4e4e
Secondary: 323232 
Font:Felix titling
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-container {
  background: linear-gradient(to bottom, #323232 50%, #ce4e4e 50%);
}
